*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Germania One', 'sans-serif';
    color: #fff;
}
body{
    background-image: url("img/large_br.jpg");
 }
.heading_board, .resultText{
    font-size: 30px;
    margin: 32px 0;
    text-align: center;
    text-transform: uppercase;
}
.resultText{
    display: none;
    color: #ff605c;
}
.container{
    margin:  24px auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;

}
.sideBar{
    position: relative;
    width: 25%;
    height: 600px;
    margin-left: 120px;
    background: #40405c;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 10px #6eb8e6;
}
.cv{
    width: 60%;
}
#breakout{
    position: relative;
    background: #040404;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 10px #6eb8e6;
}
.alertText{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 48px;
    margin-top: 48px;
}
.scoreImg{
    width: 30px;
    height: 30px;
}
.scoreDiv, .lifeDiv, .lvDiv, .sound_icon{
    display: flex;
    height: 30px;
    line-height: 30px;
    margin: 0 8px;
}
.scoreNo{
    margin-left: 12px;

}

.img{
    width: 170px;
    height: 80px;
    margin: auto;
    border-radius: 2px;
}
#play_again_btn{
    border-radius: 6px;
    border: 2px solid white;
    background: #7cd2d2;
    padding: 12px 24px;
    text-align: center;
    font-size: 24px;
    display: none;
    margin: 54px 0 24px;
    cursor: pointer;
}
#start_btn{
    border-radius: 6px;
    border: 2px solid white;
    background: #f45368;
    padding: 12px;
    text-align: center;
    font-size: 24px;
    margin: 0;
    cursor: pointer;
}
.gif{
    width: 170px;
    display: none;
    margin: auto;
}
.levelForm, select, option, input{
    font-size: 24px;
    color: #000;
}
.levelForm{
    text-align: center;
}
.labelText{
    font-size: 24px;
}
.sound_icon{
    position: absolute;
    bottom: 12px;
    left: 0;
    cursor: pointer;
}

